.parent {
  background-color: #ffffff;
  margin: auto;
  /* width: 67vw; */
  width: 33%;
  border-radius: 16px;
  padding: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 20px;
}

.tea-img {
  border-radius: 13px;
  width: 32vw;
  border: 1px solid black;
}

.btn {
  background-color: white;
  border: 1px solid #ebdfdf;
  padding: 6px 9px 6px 9px;
  margin: 6px;
  margin-left: 13px;
  width: 7vw;
  border-radius: 12px;
  color: #aeaeae;
}

h2 {
  font-family: sans-serif;
  padding: 9px;
  margin: 0;
}

.box {
  text-align: center;
  position: relative;
  top: 7px;
}

.para {
  color: #aeaeae;
  font-family: sans-serif;
  padding: 9px;
  margin-top: 0px;
}

.btns {
  margin-left: 0px;
}

.btn-read {
  border: 2px solid white;
  background-color: #dfeeff;
  padding: 12px 14px 12px 14px;
  border-radius: 20px;
  color: #2d5ea6;
  font-weight: 600;
}

.parent-read-btn {
  text-align: center;
}