* {
  margin: 0;
  padding: 0;
}

:root {
  --color: magenta;
  --seccolor: rgb(116, 116, 188);
  --textcolor: white;
  --fontweidth: 600;
  --textfamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --fontsize: 20px;
}

@media only screen and (max-width : 431px) {
  .nav ul {
    flex-direction: column;

  }

  .nav ul li {
    list-style: none;
    padding: 15px;
    margin: 5px;
    font-family: sans-serif;
    background-color: var(--color);
    font-size: var(--fontsize);
    border-radius: 50px;
  }

  .ul1 {
    flex-direction: column;
  }
}


.nav ul {
  --fontweidth: 600;
  display: flex;
  padding: 34px;
  font-weight: var(--fontweidth);
}

.nav ul li {
  list-style: none;
  padding: 15px;
  margin: 5px;
  font-family: sans-serif;
  background-color: var(--color);
  font-family: var(--textfamily);
  font-size: var(--fontsize);
  border-radius: 20px;
  cursor: pointer;
}

.li1 {
  --color: rgb(86, 48, 86);
  color: var(--textcolor);
  background-color: var(--color);
  font-weight: var(--fontweidth);
}

/* nav 2 design */
:root {
  --color1: rgb(96, 29, 96);
  --seccolor1: rgb(118, 118, 189);
  --textcolor1: rgb(175, 159, 159);
  --fontweidth1: 700;
  --textfamily1: Calibri;
  --fontsize1: 25px;
}


.ul1 {
  --fontweidth: 600;
  display: flex;
  padding: 34px;
  font-weight: var(--fontweidth1);
  background-color: var(--color);
}

.nav2 ul li {
  list-style: none;
  padding: 15px;
  margin: 5px;
  font-family: sans-serif;
  background-color: var(--color1);
  font-family: var(--textfamil1y);
  font-size: var(--fontsize1);
  /* border-radius: 20px; */
  cursor: pointer;
}

.li5 {
  --color: rgb(90, 143, 21);
  color: var(--textcolor1);
  background-color: var(--color);
  font-weight: var(--fontweidth1);
}

h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: brown;
}