* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: black; */
  /* color: white; */
}

.left {
  width: 25vw;
  padding: 5px;
  /* height: 10vh; */

}

.right {
  width: 75vw;
  /* padding: 5px; */
  /* height: 10vh; */
}

.home {
  padding: 20px;
}

/* .home ul {
  padding-top: 20px;
} */

.home ul li {
  display: flex;
  gap: 10px;
  list-style: none;
  width: 24px;
  padding-top: 20px;

}

.library {
  min-height: 70vh;
  position: relative;
}

.heading {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-top: 9px;
  font-weight: bold;
  font-size: 15px;
  font-family: system-ui;
}

.heading img {
  width: 20px;
  align-items: center;
}

.footer {
  display: flex;
  font-size: 12px;
  gap: 10px;
  position: absolute;
  bottom: 0px;

}

.footer a {
  color: gray;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #101010; */
  background-color: #520520;
  /* position: sticky;
  top: 0px; */
}

.header>* {
  padding: 10px;
}

.spotifyPlaylist {
  padding: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.card {
  width: 160px;
  padding: 15px;
  background-color: #252525;
  border: 7px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card p {
  font-size: 13px;
  color: #a7a7a7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}