* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;

}

nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
  position: relative;
  z-index: 10;
  /* padding: 6px; */
}

nav img {
  width: 156px;
}


.hero {
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 10;
  font-family: sans-serif;
  gap: 23px;
  padding: 0 38px;


}

.hero .hero-span1 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.hero .hero-span2 {
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.hero .hero-span3 {
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.separation {
  width: 100%;
  height: 0.5rem;
  /* position: absolute; */
  bottom: -0.5rem;
  background-color: rgb(35, 35, 35);
  /* background-color: orange; */
}

.btn-english {
  background-color: rgb(23 23 23 / 50%);
  color: white;
  font-family: sans-serif;
  padding: 8px 15px 8px 15px;
  border: 1px solid rgb(152 152 152 / 50%);
  border-radius: 4px;
}

button {
  cursor: pointer;
}

.btn-red-sm {
  background-color: #e50914;
  font-family: sans-serif;
  padding: 9px 16px 9px 16px;
  border-radius: 4px;
  color: white;
  font-size: 21px;
  border: none;
}

.btn-red {
  background-color: #e50914;
  font-family: sans-serif;
  padding: 8px 15px 8px 15px;
  border-radius: 4px;
  color: white;
  border: none;
}


.main input {
  padding: 14px 12px 12px 12px;
  background-color: rgba(23, 23, 23, 0.2);
  font-size: 17px;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  border: 1px solid rgb(152 152 152 / 50%);
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}


.first {
  display: flex;
  /* width: 70vw; */
  width: 85vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;

}

.secImg {
  position: relative;
}

.secImg img {
  /* max-width: 40vw; */
  max-width: 551px;
  position: relative;
  z-index: 10;

}

.secImg video {
  position: absolute;
  /* 
  top: 51px;
  right: -10px; */
  top: 80px;
  right: 69px;
  width: 75%;
}

.span-tv1 {
  text-align: start;
  font-size: 51px;
  font-family: sans-serif;
  font-weight: 800;
}

.span-tv2 {
  text-align: start;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 500;
  padding: 9px 0px 2px 5px;
}

.secImg .video1 {
  position: absolute;
  /* 
    top: 51px;
    right: -10px; */
  top: 40px;
  right: 119px;
  width: 62%;

}

.faq h1 {
  color: white;
  max-width: 70vw;
  font-weight: 800;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 51px;
  padding: 13px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.faqbox:hover {
  background-color: rgba(99, 92, 92, 0.879);

}

.faqbox {
  transition: all 0.5s ease-out;
  display: flex;
  color: White;
  font-weight: 500;
  max-width: 75vw;
  margin: auto;
  justify-content: space-between;
  font-size: 25px;
  font-family: sans-serif;
  background-color: #2d2d2d;
  padding: 20px 29px;
  margin-bottom: 7px;
}

footer {
  color: white;
  max-width: 72vw;
  margin: auto;
  margin-bottom: 40px;
}

.questions {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;

}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.footer-item a {
  color: #ffffffb3;
  font-size: 14px;
  font-family: sans-serif;
}

.herosecond input {
  padding: 14px 12px 12px 12px;
  background-color: rgba(23, 23, 23, 0.2);
  font-size: 17px;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  border: 1px solid rgb(152 152 152 / 50%);
  /* margin: 50px 50px; */
}

.hero-span-bottom {
  padding: 42px 20px;
}

.hero-btns2 {

  margin-bottom: 52px;
}

@media screen and (max-width:1250px) {
  .hero {
    height: calc(100% - 75px);
  }

  .hero .hero-span1 {
    font-size: 43px;
  }

  .hero .hero-span3 {
    font-size: 22px;
  }

  .main {
    height: 72vh;
  }

  .main .box {
    height: 72vh;

  }

  nav {
    max-width: 99vw;
    padding: 6px;
  }

  .hero {
    gap: 5px;
    padding: 0px;
  }

  .hero-btns {
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
  }

  nav img {
    width: 80px;
  }

  .first {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .span-tv2 {
    text-align: center;
    font-size: 24px;
  }

  .span-tv1 {
    text-align: center;
  }

  .secImg img {
    /* max-width: 40vw; */
    max-width: 330px;
  }

  .secImg video {
    top: 54px;
    right: 47px;
    width: 72%;
  }

  .secImg .video1 {
    top: 20px;
    right: 67px;
    width: 62%;
  }

  .faqbox {
    font-size: 20px;
  }

  .faq h1 {
    font-size: 48px;
  }
}